/* button */
.button-rounded {
  border: none;
  padding: 0.625rem 1.5rem;
  border-radius: 999px;
  font-weight: 600;
  cursor: pointer;
  color: #000000;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

/* transition */
.transition-all-200 {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
